<main>
  <p id="notice"><%= flash[:notice] %></p>
  <div class='container'>
    <div class='row'>
      <h1 class="px-3 mx-auto">
        <strong>らんまる</strong>へようこそ！
      </h1>
    </div>
    <h5>
      <strong>らんまる</strong>は、あなたの大切な家族との思い出を記憶する写真投稿サイトです。
    </h5>
    
  </div>
</main>